<div class="hero">
    <div class="container h-100 text-center">
        <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
                <br />
                <div class="row">
                    <div class="col-12 black">
                        <h1 id="index"> If You're Gonna Be Fat...
                            <br />
                            You Gotta Be Strong.</h1>
                        <br />
                    </div>
                </div>
                <br />
                <%= link_to 'View Your Workout', titles_path, class: 'btn btn-success' %>
                <br />
                <br />
                <%= link_to 'Enter Max Weight', new_max_weight_path, class: 'btn btn-success' %>
                <br />
                <br />
                <br />
                <%= link_to 'Create a Workout', instructor_titles_path, class: 'yellow btn btn-whatever' %>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>