<div class="booyah-box col-10 offset-1">
    <h1 class="text-center">Programs Index Page</h1>
    <hr />
    <% @programs.each do |program| %>
    <h2 class="text-center">
        <%=  program.title_id %>
        <%= program.exercise %>
    </h2>
    <br />
    </h2>
    <% end %>
    <br />
    <br />
    <div class="text-center">
        <%= link_to 'Homepage', root_path, class: 'btn btn-primary btn-large' %>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />