<h1>Show page for User Program</h1>
<h1> show page</h1>
<h1 class="text-center">
    <%= @program.title %>
</h1>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <%= link_to 'Edit Movement', edit_instructor_title_program(@program), class: 'btn btn-success btn-lg' %>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />