<br />
<div class="booyah-box col-10 offset-1  text-center">
    <h1> Edit Program Name</h1>
    <%= simple_form_for @program_name, url: instructor_program_names_path do |f| %>
    <div class="container ">
        <div class="row">
            <div class="col-8 offset-2">
                <%= f.input :program_name, placeholder: "ex Big Grody Monster" %>
            </div>
        </div>
        <%= f.submit "Update", class: 'btn btn-success' %>
        <% end %>
    </div>
    <br />
</div>