<br />
<br />
<div class="booyah-box col-10 offset-1">
    <h1 class="text-center">You Gotta Be Strong</h1>
    <hr />
    <% @titles.each do |title| %>
    <h2 class="text-center">
        <%=  title.title %>
    </h2>
    <br />
    </h2>
    <div class=" text-center">
        <%= link_to 'View Workout', title_path(title), class: 'btn btn-success btn-large' %>
    </div>
    <br class="clr" />
    <% end %>
    <br />
    <br />
    <div class="text-center">
        <%= link_to 'Homepage', root_path, class: 'btn btn-success btn-large' %>
        <br />
        <br />
    </div>
</div>
<br />
<br />
<br />
<br />
<br />