@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab&display=swap');

html,
body {
    font-family: 'Oswald',
        sans-serif;
    font-family: 'Oswald',
        sans-serif;
    background: image_url('moreweights.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

#demo {
    color: green;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
    margin: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

p {
    font-size: 16px;
}

#index {
    color: white;
    margin-top: 20px;
    font-size: 30px;

}

.black {
    background-color: black;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 10px;
}

.timerButton {
    width: 90px;
    height: 50px;
    background-color: #EEEEEE;
    border-color: white;

}

.btn {
    width: 180px;
    color: white;
    background-color: black;
    border-color: white;
}

.btn:hover {
    color: black;
    background-color: white;
    border-color: black;
}

a h3 .links {
    text-color: #28A745 !important;
}

a {
    color: grey;
}


.btn-whatever {
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
    width: 180px;

}

.btn-whatever:hover {
    color: white;
    background-color: black;
    border-color: white;
    border-width: 1px;

}

.btn-danger {
    background-color: grey;
}

.btn-small {
    width: 90px;
}

.form {
    color: white;
}



.clr {
    clear: both;
}

.frosty h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
    border-radius: 0;
}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background-color: black;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 0px;
    text-align: left;
    color: black;

}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.form-control-label,
.form-check-label,
.form-group-invalid {
    color: white;
}


.booyah-box h2,
.booyah-box h1 {
    margin: 10px;
}



.edit-symbol {
    color: white;
}

#show-when-small {
    visibility: visible;
}

#hide-when-small {
    visibility: hidden;
}

#hide {
    visibility: hidden;
}

#hide-create-workout {
    visibility: hidden;
}

@media (min-width: 400px) {
    #show-when-small {
        visibility: hidden;
    }

    #hide-when-small {
        visibility: visible;
    }

    #hide {
        visibility: visible;
    }
}

.timer {
    color: white;
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #show-when-small {
        visibility: hidden;
    }

    #hide {
        visibility: visible;
    }

    p {
        font-size: 24px;
    }

    #hide-create-workout {
        visibility: visible;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    p {
        font-size: 30px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}