@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab&display=swap');

html,
body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Oswald', sans-serif;
    background: image_url('moreweights.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar {
    margin: 0;
}

#index {
    color: white;
    margin-top: 20px;
    font-size: 65px;

}

.black {
    background-color: black;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-success {
    border-radius: 2px;
    background: black;
    border-color: white;
    width: 240px;
    font-size: 20px;
}

.btn:hover {
    background: white;
    border-color: black;
    color: black;
}








.clr {
    clear: both;
}

.frosty h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
    border-radius: 0;
}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #F1F1F1;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 10px;
    text-align: left;

}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}





.booyah-box h2,
.booyah-box h1 {
    margin: 10px;
}